# Secret Key File
Secret_Key.txt

# Publishable Key File
Publishable.txt

# Secret Key in Live mode
Secret_Key_Live.txt

# Publishable Key in Live mode
Publishable_Key_Live.txt

# Config file
config.env

# IP Address to Test Local Host from Real Device
IP.txt
